/* DESKTOP */

@media (max-width: 1440px) {}

/* TABLET */

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* MOBILE */

@media (max-width: 375px) {}