header {
  width: 100vw;
  padding-top: 130px;
  padding-bottom: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.header-content {
  display: flex;
  width: 730px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-700, 56px);
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-600, 48px);
  align-self: stretch;
}

/* TABLET */

@media (max-width: 768px) {
  header {
    padding-top: 131px;
    padding-bottom: 158px;
  }

  .header-content {
    width: calc(616 / 768 * 100vw);
  }
}

/* INTERMEDIATE */

@media (max-width: 500px) {
  header {
    padding-top: 123px;
  }
}

/* MOBILE */

@media (max-width: 375px) {
  header {
    background-image: url(../../images/bg-header-mobile.png);
    min-height: 830px;
  }

  .header-content {
    width: calc(318 / 375 * 100vw);
    gap: var(--spacing-800, 64px);
  }
}