/* COLORS */

:root {
  /* Primary Colors */
  --color-green-500: hsl(171, 66%, 44%);
  --color-green-300: hsl(171, 52%, 58%);
  --color-blue-500: hsl(233, 100%, 69%);
  --color-blue-300: hsl(232, 100%, 70%);

  /* Neutral Colors */
  --color-gray-950: hsl(0, 0%, 16%);
  --color-gray-700: hsl(210, 10%, 33%);
  --color-gray-500: hsl(201, 11%, 66%);
  --color-gray-50: hsl(180, 11%, 96%);

  /* Basic Colors */
  --color-white: #ffffff;
  --color-black: #000000;
}

/* SPACING */

:root {
  --spacing-1200: 96px;
  --spacing-1100: 88px;
  --spacing-900: 72px;
  --spacing-800: 64px;
  --spacing-700: 56px;
  --spacing-600: 48px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-100: 8px;
}