.btns {
  display: flex;
  justify-content: center;
  gap: var(--spacing-200, 16px);
}

.btn {
  /* layout */
  display: flex;
  width: 227px;
  height: 56px;
  padding: var(--spacing-0, 0px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-0, 0px);
  /* style */
  color: var(--color-white);
  border-radius: 28px;
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.btn-green {
  background-color: var(--colors-green-500, #26BBA4);
}

.btn-blue {
  background-color: var(--colors-blue-500, #6174FF);
}

/* TABLET */
@media (max-width: 768px) {}

/* INTERMEDIATE */

@media (max-width: 500px) {
  .btns {
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-300, 24px);
  }

  .btn {
    width: calc(400 / 500 * 100vw) !important;
    box-sizing: border-box;
  }
}

/* MOBILE */
@media (max-width: 375px) {
  .btn {
    width: calc(318 / 375 * 100vw) !important;
    box-sizing: border-box;
  }
}